<!DOCTYPE html>
<html>
  <head>
    <title>Everrich Technology</title>
    <meta charset="utf-8"/>
    <SocketStream/>
  </head>
  <body>
    <div class="wrapper" id="sec0">
      <div class="nav">
          <a href="#sec0" class="smoothScroll">Everrich</a>|
          <a href="#sec1" class="smoothScroll">Services</a>|
          <a href="#sec2" class="smoothScroll">Products</a>|
          <a href="#sec3" class="smoothScroll">About</a>|
          <a href="#sec4" class="smoothScroll">Contact</a>|
          <a href="#sec0" class="smoothScroll">Search</a>
      </div>
      <div class="content-top">
        Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br />
        Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br />
        Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br /> Welcome to Everrich Technology.<br />
      </div>
      <div class="content" id="sec1">
        <p>
        Services<br />
        Computer repair<br />
        Hardware repair and replace<br />
        System diagnostics<br />
        Virus removal<br />
        System reinstall<br />
        Antivirus software install<br />
        Web development<br />
        Web advertisement<br />
        </p>
      </div>
      <div class="content" id="sec2">
        comming soon...
      </div>
      <div class="content" id="sec3">
        about us
        *Our mission
     
          To assist. To inspire. To impress your audiences.

        * Who we are
            We are mechanics on computers.
            We are builders of websites.
            We are designers of dreams.

        *What we vaule
          Respect
               Working together, we respect your idea and make it come true.
          Integrity
                We deliver excellent services by acting integrity.
           Creativity
                With our creativity, your experience with us will be unique.

        *What we do
        Computer repair
           Hardware repair and replace
           System diagnostics
           Virus removal
           System reinstall
           Antivirus software install
        Web development and design
        Web advertisement
      </div>
      <div class="content" id="sec4">
        Store address: To be announced<br />
        Store Hotline: 1-306-502-6-5720 / 1-306-351-0812<br />
        Email address: admin@everrichtech.com<br />
        Find Us on <br />
        Facebook: http://www.facebook.com/pages/Everrich-Technology-Ltd/469899113067124<br />
        Twitter: https://twitter.com/EverrichTech<br />
        Google+: To be announced<br />
        Sina Weibo: http://www.weibo.com/3210534417/profile?topnav=1&wvr=5<br />
      </div>
      <div class="footer">
        All copyrights &#169; 2013 Everrich Technology.
        <br />
        <img src="/img/qr_er.png" />
      </div>
    </div>
  </body>
</html>
