<!DOCTYPE html>
<html>
  <head>
    <title>Everrich Technology</title>
    <meta charset="utf-8"/>
    <SocketStream/>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
      </div>
      <div class="nav">
          <a href="">Everrich</a>|
          <a href="">Services</a>|
          <a href="">Products</a>|
          <a href="">About US</a>|
          <a href="">Search</a>
      </div>
      <div class="content">
        Welcome to Everrich Technology.<br />
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        Welcome to Everrich Technology.<br />
      </div>
      <div class="footer">
        All copyrights reserved by Everrich Technology, 2013.
      </div>
    </div>
  </body>
</html>
