<html>
  <head>
    <title>Everrich Technologies</title>
    <style>
      body {
        margin: 0;
        background-image:url("img/bg.png");
        background-color:#fff;
      }
      .wrapper {
        margin: 0 auto;
        min-width: 1280px;
        min-height: 800px;
      }
      .header {
        margin: 0;
        background-image:url("img/header.png");
        background-repeat: no-repeat;
        min-width: 1280px;
        min-height: 419px;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
        <div class="header">
        </div>
    </div>
  </body>
</html>
